.body-layer {
    display: flex;
}

.main-body {
    flex: 1;
    background-color: white;
    padding: 20px;
    height: 100vh;
}

#main-text {
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidenav {
    padding: 10px;
    background-color: #d9d6e0;
    width: 10vw;
}

.scorecard {
    display: flex;
    flex-wrap: wrap;
    margin: 1px;
    justify-content: space-evenly;
    gap: 20px;
}
.totalcustomers {
    border: 1px solid black;
    border-radius: 5px;
    width: 500px;
    padding: 1px;
    flex: 1;
}

#total-Customers, 
#total-revenue {
    color: orange;
}


.two-sections {
    display: flex;   
    justify-content: space-evenly;
    gap: 50px;
}


.first-section, .second-section {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 50px;
    flex: 1;
}


